In [1]:
import sqlite3

In [2]:
con = sqlite3.connect('mydatabase.db')

In [3]:
cursor = con.cursor()

#### Two ways of passing code:

1. Manually as an integer
2. Authomatically as an entity

In [4]:
cursor.execute("CREATE TABLE employees(id integer PRIMARY KEY, name text, salary real, department text, position text, hireDate text)")
con.commit()

OperationalError: table employees already exists

In [12]:
cursor.execute("INSERT INTO employees VALUES(5, 'Wieto',600,'IT','Manager','2021-06-22')")
con.commit()

In [13]:
cursor.execute("INSERT INTO employees VALUES(6, 'Mayo',4000,'Data Scientist','Manager','2021-06-22')")
con.commit()

#### Add information automatically

In [15]:
entities = (9, 'Oluchi Mercy',1200,'HR ','Assistant Manager','2021-06-22')
cursor.execute("INSERT INTO employees(id,name,salary,department,position,hireDate) VALUES(?,?,?,?,?,?)",entities)
con.commit()

In [8]:
user_id = int(input('Enter your ID: '))
name = input('Enter your name: ')
salary = float(input('Enter your salary: '))
department = input('Enter your department: ')
position = input('Enter your position: ')
date = input('Enter date "YYYY-M-D": ')
entities = (user_id,name,salary,department,position,date)
cursor.execute("INSERT INTO employees(id,name,salary,department,position,hireDate) VALUES(?,?,?,?,?,?)",entities)
con.commit()
print('Data has been inserted!!!')

Enter your ID: 7
Enter your name: uui
Enter your salary: 43
Enter your department: driver
Enter your position: driver
Enter date "YYYY-M-D": 2020-04-03
Data has been inserted!!!

In [ ]:
#user_id = int(input('Enter your ID: '))
#name = input('Enter your name: ')
#salary = float(input('Enter your salary: '))
#department = input('Enter your department: ')
#position = input('Enter your position: ')
#date = input('Enter date "YYYY-M-D": ')
#entities = (user_id,name,salary,department,position,date)
#cursor.execute("INSERT INTO employees(id,name,salary,department,position,hireDate) VALUES(?,?,?,?,?,?)",entities)
#con.commit()
#print('Data has been inserted!!')

#### Update Name/ Add/ Edit Name and Information in the DataBase

In [10]:
cursor.execute('UPDATE employees SET name = "George" where id = 3')
con.commit()

In [11]:
cursor.execute('UPDATE employees SET salary = 650 where id = 3')
con.commit()

In [16]:
cursor.execute('SELECT * FROM employees')

In [17]:
cursor.execute('SELECT * FROM employees')
rows = cursor.fetchall()
for row in rows:
    print(row)

(1, 'Winner Emeto', 700.0, 'IT', 'Manager', '2021-06-22')
(2, 'Mary Adebayo', 4600.0, 'Data Scientist', 'Manager', '2021-06-22')
(3, 'George', 650.0, 'HR', 'Manager', '2021-06-22')
(4, 'Uloeme Daphene', 2100.0, 'Food Nutritionist', 'Manager', '2021-06-12')
(5, 'Wieto', 600.0, 'IT', 'Manager', '2021-06-22')
(6, 'Mayo', 4000.0, 'Data Scientist', 'Manager', '2021-06-22')
(7, 'uui', 43.0, 'driver', 'driver', '2020-04-03')
(9, 'Oluchi Mercy', 1200.0, 'HR ', 'Assistant Manager', '2021-06-22')

#### Change more than 1 data in a row

In [23]:
cursor.execute("UPDATE employees SET salary=700,name='Peter' where id = 4")
con.commit()

In [24]:
cursor.execute('SELECT * FROM employees')
rows = cursor.fetchall()
for row in rows:
    print(row)

(1, 'Winner Emeto', 700.0, 'IT', 'Manager', '2021-06-22')
(2, 'Mary Adebayo', 4600.0, 'Data Scientist', 'Manager', '2021-06-22')
(3, 'George', 650.0, 'HR', 'Manager', '2021-06-22')
(4, 'Peter', 700.0, 'Food Nutritionist', 'Manager', '2021-06-12')
(5, 'Wieto', 600.0, 'IT', 'Manager', '2021-06-22')
(6, 'Mayo', 4000.0, 'Data Scientist', 'Manager', '2021-06-22')
(7, 'uui', 43.0, 'driver', 'driver', '2020-04-03')
(9, 'Oluchi Mercy', 1200.0, 'HR ', 'Assistant Manager', '2021-06-22')

In [25]:
cursor.execute('SELECT salary,hireDate FROM employees')
rows = cursor.fetchall()
for row in rows:
    print(row)

(700.0, '2021-06-22')
(4600.0, '2021-06-22')
(650.0, '2021-06-22')
(700.0, '2021-06-12')
(600.0, '2021-06-22')
(4000.0, '2021-06-22')
(43.0, '2020-04-03')
(1200.0, '2021-06-22')

#### Select unique value i.e remove duplicates

In [26]:
cursor.execute('SELECT DISTINCT salary,hireDate FROM employees')
rows = cursor.fetchall()
for row in rows:
    print(row)

(700.0, '2021-06-22')
(4600.0, '2021-06-22')
(650.0, '2021-06-22')
(700.0, '2021-06-12')
(600.0, '2021-06-22')
(4000.0, '2021-06-22')
(43.0, '2020-04-03')
(1200.0, '2021-06-22')

In [27]:
cursor.execute('SELECT salary,hireDate FROM employees WHERE salary = 700')
rows = cursor.fetchall()
for row in rows:
    print(row)

(700.0, '2021-06-22')
(700.0, '2021-06-12')

#### Applying logical Operators

In [28]:
cursor.execute("UPDATE employees SET hireDate='2021-06-20' where id = 1")
con.commit()

In [29]:
cursor.execute('SELECT salary,hireDate FROM employees WHERE salary = 700')
rows = cursor.fetchall()
for row in rows:
    print(row)

(700.0, '2021-06-20')
(700.0, '2021-06-12')

In [30]:
cursor.execute('SELECT salary,hireDate FROM employees WHERE salary = 700 AND hireDate ="2021-06-20"')
rows = cursor.fetchall()
for row in rows:
    print(row)

(700.0, '2021-06-20')

In [31]:
cursor.execute('SELECT * FROM employees WHERE salary = 700 AND hireDate ="2021-06-20"')
rows = cursor.fetchall()
for row in rows:
    print(row)

(1, 'Winner Emeto', 700.0, 'IT', 'Manager', '2021-06-20')

#### Sorting/ Arranging and filtering

In [32]:
cursor.execute('SELECT * FROM employees ORDER BY id')
rows = cursor.fetchall()
rows

[(1, 'Winner Emeto', 700.0, 'IT', 'Manager', '2021-06-20'),
 (2, 'Mary Adebayo', 4600.0, 'Data Scientist', 'Manager', '2021-06-22'),
 (3, 'George', 650.0, 'HR', 'Manager', '2021-06-22'),
 (4, 'Peter', 700.0, 'Food Nutritionist', 'Manager', '2021-06-12'),
 (5, 'Wieto', 600.0, 'IT', 'Manager', '2021-06-22'),
 (6, 'Mayo', 4000.0, 'Data Scientist', 'Manager', '2021-06-22'),
 (7, 'uui', 43.0, 'driver', 'driver', '2020-04-03'),
 (9, 'Oluchi Mercy', 1200.0, 'HR ', 'Assistant Manager', '2021-06-22')]

In [33]:
cursor.execute('SELECT * FROM employees ORDER BY salary')
rows = cursor.fetchall()
rows

[(7, 'uui', 43.0, 'driver', 'driver', '2020-04-03'),
 (5, 'Wieto', 600.0, 'IT', 'Manager', '2021-06-22'),
 (3, 'George', 650.0, 'HR', 'Manager', '2021-06-22'),
 (1, 'Winner Emeto', 700.0, 'IT', 'Manager', '2021-06-20'),
 (4, 'Peter', 700.0, 'Food Nutritionist', 'Manager', '2021-06-12'),
 (9, 'Oluchi Mercy', 1200.0, 'HR ', 'Assistant Manager', '2021-06-22'),
 (6, 'Mayo', 4000.0, 'Data Scientist', 'Manager', '2021-06-22'),
 (2, 'Mary Adebayo', 4600.0, 'Data Scientist', 'Manager', '2021-06-22')]

In [34]:
cursor.execute('SELECT * FROM employees ORDER BY name')
rows = cursor.fetchall()
rows

[(3, 'George', 650.0, 'HR', 'Manager', '2021-06-22'),
 (2, 'Mary Adebayo', 4600.0, 'Data Scientist', 'Manager', '2021-06-22'),
 (6, 'Mayo', 4000.0, 'Data Scientist', 'Manager', '2021-06-22'),
 (9, 'Oluchi Mercy', 1200.0, 'HR ', 'Assistant Manager', '2021-06-22'),
 (4, 'Peter', 700.0, 'Food Nutritionist', 'Manager', '2021-06-12'),
 (5, 'Wieto', 600.0, 'IT', 'Manager', '2021-06-22'),
 (1, 'Winner Emeto', 700.0, 'IT', 'Manager', '2021-06-20'),
 (7, 'uui', 43.0, 'driver', 'driver', '2020-04-03')]

#### Arranging from DESCENDING TO ASCENDING

In [35]:
cursor.execute('SELECT * FROM employees ORDER BY id DESC')
rows = cursor.fetchall()
rows

[(9, 'Oluchi Mercy', 1200.0, 'HR ', 'Assistant Manager', '2021-06-22'),
 (7, 'uui', 43.0, 'driver', 'driver', '2020-04-03'),
 (6, 'Mayo', 4000.0, 'Data Scientist', 'Manager', '2021-06-22'),
 (5, 'Wieto', 600.0, 'IT', 'Manager', '2021-06-22'),
 (4, 'Peter', 700.0, 'Food Nutritionist', 'Manager', '2021-06-12'),
 (3, 'George', 650.0, 'HR', 'Manager', '2021-06-22'),
 (2, 'Mary Adebayo', 4600.0, 'Data Scientist', 'Manager', '2021-06-22'),
 (1, 'Winner Emeto', 700.0, 'IT', 'Manager', '2021-06-20')]

In [36]:
cursor.execute('SELECT * FROM employees ORDER BY salary DESC')
rows = cursor.fetchall()
rows

[(2, 'Mary Adebayo', 4600.0, 'Data Scientist', 'Manager', '2021-06-22'),
 (6, 'Mayo', 4000.0, 'Data Scientist', 'Manager', '2021-06-22'),
 (9, 'Oluchi Mercy', 1200.0, 'HR ', 'Assistant Manager', '2021-06-22'),
 (1, 'Winner Emeto', 700.0, 'IT', 'Manager', '2021-06-20'),
 (4, 'Peter', 700.0, 'Food Nutritionist', 'Manager', '2021-06-12'),
 (3, 'George', 650.0, 'HR', 'Manager', '2021-06-22'),
 (5, 'Wieto', 600.0, 'IT', 'Manager', '2021-06-22'),
 (7, 'uui', 43.0, 'driver', 'driver', '2020-04-03')]

In [37]:
cursor.execute('SELECT * FROM employees ORDER BY name DESC')
rows = cursor.fetchall()
rows

[(7, 'uui', 43.0, 'driver', 'driver', '2020-04-03'),
 (1, 'Winner Emeto', 700.0, 'IT', 'Manager', '2021-06-20'),
 (5, 'Wieto', 600.0, 'IT', 'Manager', '2021-06-22'),
 (4, 'Peter', 700.0, 'Food Nutritionist', 'Manager', '2021-06-12'),
 (9, 'Oluchi Mercy', 1200.0, 'HR ', 'Assistant Manager', '2021-06-22'),
 (6, 'Mayo', 4000.0, 'Data Scientist', 'Manager', '2021-06-22'),
 (2, 'Mary Adebayo', 4600.0, 'Data Scientist', 'Manager', '2021-06-22'),
 (3, 'George', 650.0, 'HR', 'Manager', '2021-06-22')]

#### How to Delete Data, Name, etc from your system

In [38]:
cursor.execute('DELETE FROM employees WHERE id=9')
con.commit()

In [40]:
cursor.execute('SELECT * FROM employees ORDER BY id DESC')
rows = cursor.fetchall()
rows

[(7, 'uui', 43.0, 'driver', 'driver', '2020-04-03'),
 (6, 'Mayo', 4000.0, 'Data Scientist', 'Manager', '2021-06-22'),
 (5, 'Wieto', 600.0, 'IT', 'Manager', '2021-06-22'),
 (4, 'Peter', 700.0, 'Food Nutritionist', 'Manager', '2021-06-12'),
 (3, 'George', 650.0, 'HR', 'Manager', '2021-06-22'),
 (2, 'Mary Adebayo', 4600.0, 'Data Scientist', 'Manager', '2021-06-22'),
 (1, 'Winner Emeto', 700.0, 'IT', 'Manager', '2021-06-20')]

#### Counting Individual records in the Database

In [41]:
cursor.execute('SELECT COUNT(id),name FROM employees')
rows = cursor.fetchall()
rows

[(7, 'Winner Emeto')]

In [42]:
cursor.execute('SELECT COUNT(id),department FROM employees GROUP BY department')
rows = cursor.fetchall()
rows

[(2, 'Data Scientist'),
 (1, 'Food Nutritionist'),
 (1, 'HR'),
 (2, 'IT'),
 (1, 'driver')]

In [43]:
cursor.execute('SELECT * FROM employees WHERE department = "IT" ')
rows = cursor.fetchall()
for row in rows:
    print(row)

(1, 'Winner Emeto', 700.0, 'IT', 'Manager', '2021-06-20')
(5, 'Wieto', 600.0, 'IT', 'Manager', '2021-06-22')

In [44]:
cursor.execute('SELECT * FROM employees WHERE department = "Data Scientist" ')
rows = cursor.fetchall()
for row in rows:
    print(row)

(2, 'Mary Adebayo', 4600.0, 'Data Scientist', 'Manager', '2021-06-22')
(6, 'Mayo', 4000.0, 'Data Scientist', 'Manager', '2021-06-22')

#### How to delete Table from Database

In [ ]:
#cursor.execute('drop table if exists employees')
#con.commit()

#### Close the database. Once closed, it's unassessible till opened.

In [45]:
con.close()

#### To continue working on the table file, Open the existing database you are using.

In [46]:
con = sqlite3.connect('mydatabase.db')